@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-pryClr: #df791b;
  --color-rosco: #2b1d4b;
  --color-rosco2: #060f1f;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.made-container {
  @apply w-[90%] mx-auto md:px-0 backdrop-blur-md;
}

.lkj {
  background: #000;
}